.main {
  background-size: 100% 100%;
  min-height: 90.1vh;
  min-width: 90.1vh;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  /* background-image: linear-gradient(
      rgba(37, 100, 168, 0.5) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(52, 74, 119, 0.5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 100px 20px, 20px 20px; */
  /* background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
}

.sponsor-container {
  position: relative;
  background-color: #269;
  background-image: linear-gradient(
      rgba(37, 100, 168, 0.5) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(52, 74, 119, 0.5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 100px 20px, 20px 20px;
}

.spons-container {
  background-color: #fff;
  font-size: 1rem;
}

.spons-heading {
  text-align: center;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2.5rem;
}

.sponsor {
  padding: 10px;
  padding-bottom: 3rem;
  width: 80%;
  height: auto;
}

.gold-sponsors,
.silver-sponsors,
.bronze-sponsors {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #ffcf00;
  border-width: 7px;
}

.desc-container {
  background-color: #000;
  width: 100%;
  border-bottom-style: solid;
  border-color: #ffcf00;
  border-width: 7px;
}

.spons-desc {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  padding: 2rem;
  height: 60vh;
  align-content: center;
}

.spons-img {
  text-align: center;
  margin: auto;
  padding: 10px;
}

.subtitle {
  padding-left: 2rem;
  font-size: 7.5rem;
  color: #fff;
  margin: 0;
  text-align: center;
}

.spons-subtitle {
  color: #000;
  text-align: center;
  font-size: 4.5rem;
  margin-top: 2rem;
}

.pdf-container {
  background-color: #000;
  /* background-image: linear-gradient(
      rgba(37, 100, 168, 0.5) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(52, 74, 119, 0.5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 100px 20px, 20px 20px; */
  /* background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
  text-align: center;
  padding-bottom: 2rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #ffcf00;
  border-width: 7px;
}

.pdf {
  width: 100%;
  height: 100vh;
}

* {
  font-family: "Bebas Neue", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subtitle-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #000;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #ffcf00;
  border-width: 7px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .sponsor {
    margin-left: 5px;
    margin-right: 5px;
    height: 20%;
    width: 70%;
  }

  .subtitle {
    font-size: 4rem !important;
  }

  .spons-subtitle {
    font-size: 3rem;
  }

  .spons-desc {
    font-size: 1.4rem !important;
    font-family: "Raleway", sans-serif;
    padding: 2rem;
  }

  .spons-heading {
    font-size: 2rem;
  }

  .pdf-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .main {
    width: 100%;
    height: auto;
    min-width: auto !important;
  }

  .sponsor {
    align-items: center;
    align-content: center;
  }

  .pdf {
    border: none;
  }
}

/* Additional CSS for responsiveness */

.spons-subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.spons-img .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spons-img .col-sm-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .spons-img .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pdf {
    width: 100%;
    height: 100vh;
    border: none;
  }

  .spons-desc {
    height: auto;
  }
}

/* Media query for iPhone 8 Plus, iPhone 8, iPhone SE */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .subtitle {
    font-size: 2.5rem;
  }

  .spons-desc {
    font-size: 1rem;
    height: 61vh;
    align-items: center;
    align-content: center;
  }

  .spons-heading {
    font-size: 1.5rem;
  }

  .pdf {
    width: 100%;
    height: 100vh;
    overflow: auto !important;
  }

  .col-sm-4 {
    margin-left: 2.7rem;
  }
}
