@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .side-tab {
    display: flex;
  }
}

.side-tab {
  width: 250px; /* Adjust width as needed */
  min-width: 250px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: #000 !important; /* Dark background */
}

.fixed-sidebar {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 250px; /* Adjust based on your layout */
  height: auto;
  z-index: 1000;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 2rem !important;
}

.first-tab:active {
  color: #ffcf00 !important;
}

.nav-link:hover {
  color: #ffcf00;
}

.tab {
  font-family: "Bebas Neue", sans-serif !important;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #fff;
  margin: 0.7rem 0;
  font-size: 1.1rem;
}

.tab.active {
  color: #ffcf00;
}

.tab:hover {
  text-decoration: underline #ffff;
  transition: all 0.2sease-out;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .sidebar-content-container .sidebar {
    display: none;
  }

  /* .side-tab,
  .fixed-sidebar {
    display: none !important;
  } */

  .content {
    width: 100%;
    padding: 1rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .sidebar-content-container .sidebar {
    display: none;
  }

  .side-tab,
  .fixed-sidebar {
    display: none !important;
  }

  .content {
    width: 100%;
    padding: 1rem;
  }
}

/* Media query for iPad Air */
@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (-webkit-min-device-pixel-ratio: 2) {
  .sidebar-content-container .sidebar {
    display: none;
  }

  .side-tab,
  .fixed-sidebar {
    display: none !important;
  }

  .content {
    width: 100%;
    padding: 1rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .side-tab {
    transition: transform 0.3s ease;
    width: 250px; /* Adjust based on your design */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    transform: translateX(-100%);
  }

  .fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
  }

  .chevron-icon {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    z-index: 1001;
    transition: left 0.3s ease;
  }

  .chevron-icon.open {
    left: 250px; /* Adjust based on sidebar width */
  }

  .side-tab.open {
    transform: translateX(0);
  }

  @media (max-width: 767px) {
    .side-tab {
      transform: translateX(-100%);
    }

    .side-tab.open {
      transform: translateX(0);
    }
  }
}
